{% extends 'registration/base.html' %}

{% block maincontent %}
<div class="container-fluid" style="width:50%">
     <div style="width:100%;padding: 2em; box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.18); -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.18); -webkit-box-shadow:  0px 0px 12px rgba(0, 0, 0, 0.18);background-color: #fff">

<div class="signup-form">
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <h2 style="text-align:center;">Login</h2>
        <p class="hint-text" style="text-align:center;">Please enter your details to login.</p>
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="User Name" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Login Now</button>
        </div>
    </form>
    <div class="text-center">Create New <a href="{% url 'user_registration'  %}">Signup</a></div>
</div>
     </div>
</div>
{% endblock maincontent %}